name: "Build dev project dependencies"

runs:
  using: "composite"
  steps:
    - name: Build base
      uses: ./.github/workflows/composite/build_base
    - name: Install dev dependencies
      run: poetry install --only dev
      shell: bash
